*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*RECURSOS IMPORTADOS*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400.. 700&display=swap');

/*ESTILOS GLOBALES*/

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background: rgb(0, 0, 0);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 60px 0 0 0;
    box-sizing: border-box;
    z-index: 1;
}

article {
    align-items: center;
    justify-content: center;
    place-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.container-principal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 60px 0 0 00px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

}

.title-seccion {
    top: 80px;
    justify-content: center;
    align-items: center;
}

.title-principal {
    font-size: 50px;
    text-shadow: 1px 0px 0px black,
                 0px 1px 0px black,
                 -1px 0px 0px black,
                 0px -1px 0px black;
}

.lorem-text {
    text-align: center;
    font-size: 1.2em;
    max-width: 100%;
}

/*#1 SECCION DEL NAV*/

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #232323;
    color: white;
    z-index: 2;
}

.container_banner{
    text-align: center;
}

.container_banner h1{
    padding: 0 10px;
    font-size: 0.9em;
}

nav{
    display: flex;
    justify-content: space-around;
    z-index: 99999;
}

nav a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

/*#2 CORRESPONDE AL ARTICULO PRINCIPAL*/

.center-welcome {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container_welcome {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 25px;
}

.container_encabezado {
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-contact {
    width: auto;
    max-height: 10vh;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: white;
    margin: 2vh;
    padding: 1vh;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0);
}

.btn-contact:hover {
    transform: scale(1.15);
    box-shadow: 0 1vh 0.5vh rgba(0, 149, 255, 0.286);
}

.btn-contact svg {
    max-width: 3vw;
    height: auto;
    vertical-align: middle;
}

.btn-contact svg path {
    fill: black;
}

.btn-contact a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.container_skills {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    
}

.iconskils{
    max-width: 5vw;
    height: auto;
    transition: all 0.3s ease;
}

.git-svg {
    fill: white;
}

.iconskils:hover {
    transform: scale(1.15);
}

/*#2 CORRESPONDE AL ATRICULO MIS PROYECTOS*/

.container-proyects {
    background-image: linear-gradient(#242424,#000000 );
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.date-proyect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0 0 0;
    width: 100%;
    height: auto;
    font-size: 30px;
    text-shadow: 1px 0px 0px black,
                 0px 1px 0px black,
                 -1px 0px 0px black,
                 0px -1px 0px black;
}

.imagen-proyect {
    max-width: 450px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.poryect-description {
    font-size: auto;
    max-width: 450px;
    width: 100%;
    height: auto;
    text-align: center;
}

.btn-WebProyects {
    max-height: 70px;
    height: 100%;
    width: auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: white;
    margin: 7vh 0 0 0;
    padding: 1vh;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0);
}

.btn-WebProyects:hover {
    transform: scale(1.15);
    box-shadow: 0 1vh 0.5vh rgba(0, 149, 255, 0.286);
}

.url-btn {
    text-decoration: none;
    color: black;
    font-size: 2.5em;
}

/*#3 CORRESPONDE AL ARTICULO DE MI TRAYECTORIA*/

.trajectory-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding: 40px 0 0 0;
    width: 100%;
    height: auto;
}

.presentation_container {
    display: grid;
    max-width: 450px;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.container_presentation{
    align-items: center;
}

.container_txt p{
    margin: 20px;
    color: white;
}

.container_imagen img{
    max-width: 15vw;
    height: auto;
    border-radius: 20px;
    margin: 20px 20px 0 20px;
}

.container-trajectory {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-trajectory {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.event-trajectory {
    border-radius: 20px;
    background-image: linear-gradient(#242424,#000000 );
    max-width: 690px;
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.event-trajectory:hover {
    transform: scale(1.05);
}

.trajectory-title {
    margin: 2vh 2vw 0 2vw;
    text-align: left;
}

.trajectory-lorem {
    margin: 0.2vh 2vw 2vh 2vw;
    text-align: left;
}

/*#4 CORRESPONDE AL ARTICULO MIS CERTIFICADOS*/
.swiper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.swiper-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 50px 0 0 0;
}

.swiper-slide {
    width: auto;
    height: auto;
    background-color: transparent;
    text-align: center;
    box-sizing: border-box;
}

.certification_content {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(#242424,#000000 );
    max-width: 390px;
    width: 100%;
    height: auto;
}

.certification-img {
    padding: 20px 20px 0 20px;
    flex-basis: 50%;

}

.certification-img img{
    max-width: 350px;
    width: 100%;
    border-radius: 20px;
}

.info_certifi {
    padding: 20px;
    flex-basis: 50%;
}

.info_certifi h1 {
    font-size: 20px;
    color: white;
    text-transform: uppercase;

}

.info_certifi p {
    font-size: 14px;
    color: white;
}

/*#5 CORRESPONDE AL ARTICULO MIS SKILLS*/
.container_skills {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 15px;
    justify-content: space-evenly;
}

.bottom_skils {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(#242424,#000000 );
    max-width: 30vw;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
}

.bottom_skils:hover {
    transform: scale(1.05);
}

.icon_skill {
    margin-bottom: 1vh;
    padding: 1vh;
}

.icon_skill svg {
    max-width: 7vw; 
    height: auto;
}

.container_description {
    margin: 0 2vw 2vh 2vw;
}

.date_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75em;
}

.type-level {
    display: flex;
}

/*#6 contacto*/
.center-form {
    display: grid;
    align-items: center;
    justify-content: center;
}
.form-conten {
    border: 2px solid white;
    max-width: 450px;
    width: 100%;
    height: auto;

}

/*ESILOS PARA TABLETAS*/
@media only screen and (max-width: 1024px) {
    /*ESTILOS GLOBALES*/
    header {
        justify-content: center;

    }

    nav {
        display: none;
    }
    /*Seccion #1*/
    .title-principal {
        font-size: 30px;
    }

    .container_welcome {
        padding: 10px;
    }

    .btn-contact {
        margin: 1vh;
        padding: 0.5vh;
    }

    .iconskils {
        max-width: 10vw;
    }
    
    /*Seccion #2*/

    /*Seccion #3*/
    .event-trajectory {
        max-width: 90%;
    }
    
    /*Seccion #4*/
    .certification_content {
        max-width: 90%;
    }

    /*Seccion #5*/
    .icon_skill svg {
        width: 10vw;
        height: 10vw;
    }

    .container_banner h1 {
        font-size: 0.8em;
    }

    .date-proyect {
        flex-direction: column;
        font-size: 1em;
    }

    .trajectory-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .trajectory-title,
    .trajectory-lorem {
        text-align: initial;
    }

    .container_skills {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }

}

/*ESTILOS PARA CELULARES*/
@media only screen and (max-width: 428px) {
    
    /*Seccion #1*/
    /*Seccion #2*/
    .date-proyect {
        padding: 15px;
    }

    .url-btn {
        font-size: 1.5em;
    }
    /*Seccion #3*/
    /*Seccion #4*/
    /*Seccion #5*/
    .icon_skill svg {
        max-width: 5vw; 
        height: auto;
    }
    /*Seccion #6*/

    
}
