@import "../main";

.skills-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 730px;
  width: 100%;
  background-color: transparent;
  padding: 0px;

  .skills-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-wrap: wrap;

    .skills-slider-item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100px;

      .__icon-size::before {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        color: #fff;
      }

    }
  }
}

@include media('sm') {
  .skills-slider-container {
    max-width: 365px;
  }
}