@import "../main";

.section__experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

    .__experience-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 20px;

        .__experience-item{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-radius: 10px;
            margin: 5px 0px;
            padding: 10px;
            gap: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            .__card-img {
                aspect-ratio: 1/1;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            .__experience-content {
                padding: 10px;
            }
        }

    }
}
@include media('md') {
    .section__experience {
        .__experience-list {
            .__experience-item{
                align-items: start;
                .__card-img {
                    aspect-ratio: 1/1;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
                .__experience-content {
                    padding: 10px;
                    width: calc(100% - 60px);
                }
            }
    
        }
    }
}