.section-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    padding-top: 100px;
    text-align: center;

    .__portfolio-title {
        display: flex;
        width: 100%;
        font-size: 2.5rem;
    }

    .__portfolio-articles {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .__portfolio-card {
            display: grid;
            grid-template-rows: auto 1fr auto;
            align-items: center;
            justify-content: center;
            max-width: 500px;
            width: 100%;
            height: 500px;
            border-radius: 10px;
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
            text-align: start;
            padding: 20px;
            gap: 20px;

            .__card-img {
                display: flex;
                width: 100%;
                object-fit: cover;
            }

            .__card-body {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                width: 100%;
                height: 100%;

                .__card-title {
                    color: #000;
                }

                .__card-text {
                    color: #000;
                }

            }
            .__card-links {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                gap: 10px;

                .__card-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    font-size: 1.7rem;
                    padding: 5px 0;
                    border-radius: 50px;
                    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.253);
                    text-decoration: none;
                }

                .__bg-black {
                    background-color: #000;
                    color: #fff;
                }

                .__bg-white {
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}