@import "../main";

.skills-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 780px;
  .skills-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 90px;
    flex-wrap: wrap;
    .skills-slider-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100px;
      .__icon-size {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        color: #fff;
      }
    }
  }
}
