body.dark-mode {

    .__card__tech-list .__icon-size.dark-icon::before,
    .skills-slider-item .__icon-color.dark-icon::before,
    .__icon-size,
    .__icon-color {
        color: #FFFFFF !important;
    }
}

body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

section {
    width: 100%;
    background-color: #fdfdfd;
    padding: 70px;

    @include media("md") {
        padding: 80px 15px 15px;
    }
}

h2 {
    width: 100%;
    font-size: clamp(1.5rem, 5vw + 1rem, 5rem);
    font-weight: 700;
    color: #000;
    text-align: center;
}